body {
    font-family: Arial, sans-serif;
    background-image: url('images/control-accesos.png'); /* Cambia 'skullcandy.jpg' al nombre real de tu archivo */
    background-size: contain; /* Asegura que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}



.container {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}


input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: blue;
    
}

a {
    color: black;
    text-decoration: none;
    
}

a:hover {
    text-decoration: underline;
 
}

#schedule {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    margin-top: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

.time-slot {
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}

.time-slot.available {
    background-color: #28a745;
    color: white;
}

.time-slot.unavailable {
    background-color: #dc3545;
    color: white;
}

.time-slot:hover {
    opacity: 0.8;
}
